MOD_IS_RELEASE=false

# Global Publishing Toggles
PUB_DRY_RUN=true
PUB_MAVEN_ENABLE=false
PUB_MODS_ENABLE=false

# Platform Tokens: replace these with your actual tokens before use
# Modrinth PAT: https://modrinth.com/settings/pats
PUB_MODRINTH_TOKEN=your_modrinth_token_here
# CurseForge API token: https://legacy.curseforge.com/account/api-tokens
PUB_CURSEFORGE_TOKEN=your_curseforge_token_here

PUB_MODRINTH_STAGING=true

# Platform Publishing Locations
PUB_CURSEFORGE_PROJECT_ID=
PUB_MODRINTH_PROJECT_ID=

# Maven Central Config
PUB_MAVEN_CENTRAL_ENABLE=false
PUB_MAVEN_CENTRAL_SNAPSHOTS=false
PUB_MAVEN_CENTRAL_USERNAME=your_username_here
PUB_MAVEN_CENTRAL_PASSWORD=your_password_here

# Signing
PUB_SIGNING_KEY=your_exported_ascii_armored_key_here
PUB_SIGNING_ID=
PUB_SIGNING_PASSWORD=your_signing_passphrase_here
